In [12]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("worldchamps_mens_gymnastics.csv", header=0)
df=df[['Name', 'Overall Rank', 'Nationality', 'Apparatus', 'Total Score']]
print(df.shape)
df.head()

(144, 5)

           Name  Overall Rank Nationality     Apparatus  Total Score
0  Xiao Ruoteng             1         CHN         Floor       14.433
1  Xiao Ruoteng             1         CHN  Pommel Horse       14.800
2  Xiao Ruoteng             1         CHN         Rings       13.800
3  Xiao Ruoteng             1         CHN         Vault       14.900
4  Xiao Ruoteng             1         CHN         PBars       14.600

In [32]:
group = df.groupby(['Nationality' ,'Name'], as_index=False)
df_agg = group.agg({'Overall Rank': np.mean, 'Total Score': np.sum})\
    .rename(columns={'Total Score' : 'Cumulative Score'})\
    .sort_values('Overall Rank').reset_index(drop=True)
df_agg.to_csv('cleaned.csv', index=False)